p {
  margin: 0;
  padding: 0;
}
.mtop-1 {
  margin-top: -2rem;
}
.name {
  font-size: 0.8rem;
}
.box-width {
  width: 200px;
}
.pleft {
  padding-left: 1000px;
}
.text-width {
  width: 200px;
  height: 100%;
}

.fs-7 {
  font-size: 0.7rem;
}
.send-msg {
  float: left;
  width: 30%;

  background: #ffc107 none repeat scroll 0 0;
  font-size: 1rem;
  border-radius: 10px;
  margin-left: 66%;
  padding: 10px 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.send-name {
  margin-left: 90%;
}
.receive-msg {
  width: 30%;
  margin-left: 2rem;
  background: #dadada;
  border-radius: 10px;
  font-size: 1rem;
  margin: 0;
  padding: 10px 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 1200px) {
  .send-name {
    margin-left: 89%;
  }
}

@media (max-width: 768px) {
  .send-msg {
    width: 25%;
    margin-left: 71%;
    font-size: 0.8rem;
  }
  .receive-msg {
    width: 25%;
    margin-left: 71%;
    font-size: 0.8rem;
    padding: 6px 16px;
  }
  .fs-7 {
    font-size: 0.6rem;
  }
}
